

<form action="/account/<%= current_user['id'] %>/update_profile_pic">
  <button>Update Profile Pic</button>
</form>

<form action="/account/<%= current_user()['id'] %>/update_password">
  <button>Update Password</button>
</form>


<form action="/account/<%= user["id"] %>/edit" method="post">
<input type="hidden" name="_method" value="put">
  
  <label for="">profile name</label>
  <input type="text" name="profile_name" value="<%= user["profile_name"]%>">
  
  <label for="">email</label>
  <input type="text" name="email" value="<%= user["email"]%>">

  <label for="">Date of Birth</label>
  <input type="text" name="dob" value="<%= user["dob"] %>">

  <label for="">Location</label>
  <input type="text" name="locale" value="<%= user["locale"]%>">

  <label for="">Gear</label>
  <textarea id="gear" name="gear" rows="8" cols="50" maxlength="800"></textarea>

<button>Update</button>
</form>

