
<% if logged_in? %>
  <div class="curr-user">
    <%= cl_image_tag("#{current_user()["img_url"]}", cloud_name: "diore1f83", :height=>75, :crop=>"scale") %>
    
    <div class="user-dash-btns">
      <form action="/account">
        <button>Profile</button>
      </form>

      <form action="/session" method="post">
        <input type="hidden" name ="_method" value="delete">
        <button>logout</button>
      </form>

      <span class="user-logged"><%= current_user()['profile_name']%></span>
    </div>
  </div>
<% else %>
  <form action="/login">
    <button>log in</button>
  </form>

  <form action="/new_user">
    <button>sign up</button>
  </form>
<%end%>

<div class="review-wrapper">

  <% user_reviews.each do |review| %>
    <div class ="post" >
      <%= cl_image_tag("#{review['img_url']}",:cloud_name=>"diore1f83", :class=>"review-thumb")%>
      <div class="review-text">
        <h3><%= review["model"] %></h3>
        <h4>Rating: <%= review["rating"] %></h4>
        <p><%= review["review"] %></p>
          
      </div>

      <div></div>

      <div class="author-wrap">
        <h5><span class="author">Posted By: <%= review["author"] %></span></h5>
      </div>

    </div>
  <% end %>

</div>




