<% if logged_in? %>
  <div class="curr-user">
    <%= cl_image_tag("#{current_user()["img_url"]}", cloud_name: "diore1f83", :class=>"user-profile-pic", :height=>75, :crop=>"scale") %>
    
    <div class="user-dash-btns">
      <span class="user-logged"><%= current_user()['profile_name']%></span>

      <form action="/session" method="post">
        <input type="hidden" name ="_method" value="delete">
        <button>logout</button>
      </form>
      
      <form action="/account">
        <button>Profile</button>
      </form>


    </div>
  </div>
  <form action="/account/<%= current_user()['id'] %>/update_profile_pic">
    <button>Update Profile Pic</button>
  </form>
<% else %>
  <form action="/login">
    <button>log in</button>
  </form>

  <form action="/new_user">
    <button>sign up</button>
  </form>
<%end%>


<h1 class="form-txt"><%= password_msg %></h1>


<form action="/account/<%=current_user()['id']%>/update_password" method="post">
<input type="hidden" name="_method" value="put">

  <div class="update-pass-form">

    <label class="form-txt" for="">CURRENT PASSWORD</label>
    <input type="password" name="curr_password" minlength="6" required>

    <label class="form-txt" for="">NEW PASSWORD</label>
    <input type="password" name="new_password" minlength="6" required>

    <label class="form-txt" for="">CONFIRM NEW PASSWORD</label>
    <input type="password" name="new_password_conf" minlength="6" required>

    <button>Update</button>

  </div>

</form>