<% if logged_in? %>
  <div class="curr-user">
    <%= cl_image_tag("#{current_user()["img_url"]}", cloud_name: "diore1f83", :height=>75, :crop=>"scale") %>
    
    <div class="user-dash-btns">
      <form action="/account/<%= current_user()['id']%>/edit_profile">
        <button>Edit Profile</button>
      </form>

      <form action="/session" method="post">
        <input type="hidden" name ="_method" value="delete">
        <button>logout</button>
      </form>

      <span class="user-logged"><%= current_user()['profile_name']%></span>
    </div>
  </div>
<% else %>
  <form action="/login">
    <button>log in</button>
  </form>

  <form action="/new_user">
    <button>sign up</button>
  </form>
<%end%>

<div class="nav-wrapper">

  <form action="/new_review">
    <button>post a review</button>
  </form>


</div>


<div class="review-wrapper">

  <% user_reviews.each do |review| %>
  
    <div class ="post" >

      <%= cl_image_tag("#{review['img_url']}", cloud_name: "diore1f83", :height=>150, :crop=>"scale") %>
    
      <span>
        <h3><%= review["model"] %></h3>
        <h4>Rating: <%= review["rating"] %></h4>
        <p><%= review["review"] %></p>
      </span>

      <span>
        <form action="/reviews/<%= review["id"]%>/edit">
          <button>edit post</button>
        </form>      
        <form action="/review/<%=review["id"]%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>delete post</button>
        </form>
      </span>

    </div>

   
  <% end %>

</div>

